@import "./src/styles/sthm/variables";

/** Typography.scss
 *
 * Load fonts and define default typography for all elements
 * 
 */

//Load Faustina, Roboto, Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//for sass font definitions:
//font-family: 'Faustina', serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;
 
// TODO: add story of text at various weights/italic, for each font, in a p tag

:root {

	body {
		font-size: (23rem / $root-em);
		font-family: 'Roboto', sans-serif;
		line-height: 1.4;
		color: $black;
	}
}

@each $color, $value in $theme-colors
{
	.has-#{$color}-color {
		@extend .text-#{$color};
	}

	.has-#{$color}-background-color {
		@extend .bg-#{$color};
	}
}