.uk-slideshow
{
	.uk-slidenav
	{
		svg
		{
			transform: scale(1.5);
			overflow: visible;

			polyline
			{
				stroke-width: 6;
				stroke-linecap: round;
			    stroke-linejoin: round;
			}
		}
	}
}