@import "./src/styles/sthm/variables";
@import "./node_modules/bootstrap/scss/bootstrap";

header 
{
	background-color: $black;
	color: $white;

	.header-container
	{
		@extend .container-fluid;
		@extend .d-flex;

		padding-left: (22.5rem / $root-em);
		padding-right: (22.5rem / $root-em);

		@include media-breakpoint-up(md)
		{
			padding-left: (45rem / $root-em);
			padding-right: (45rem / $root-em);
		}
	}

	&.uk-light 
	{
		a 
		{
			color: $white;

			&:hover
			{
				color: $white-hover;
				text-decoration: none;

				&:before
				{
					color: $white-hover;
				}
			}
		}
	}

	.logo-box
	{
		margin-right: 18px;
	}

	.header--logo
	{
		height: 120px;
		width: 120px;
		
	}

	.header--title
	{
		@extend .mb-0;
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-end;

		span
		{
			display: block;
		}
	}


	.subnav-explore
	{
		border-bottom: 1px solid $divider-color;
		@extend .py-1;

		.nav-link
		{
			@extend .py-0;
			font-size: (13rem / $root-em);
		}	
	}

	.subnav-tertiary 
	{
		font-size: (13rem / $root-em);

		.nav-item
		{
			display: flex;
			flex-grow: 1;
		}

		.nav-link.btn
		{
			margin-left: (28rem / $root-em);
			font-size: (13rem / $root-em);
			text-transform: uppercase;
		}

		.nav-link:not(.btn)
		{
			border-bottom: 1px solid $divider-color;
		}
	}

	.search-container
	{
		@extend .col;
		@extend .text-right;
		@extend .pl-5;
		@extend .pr-0;
		@extend .m-auto;

		#searchform
		{
			font-size: (16rem / $root-em);

			input
			{
				background-color: transparent;
				color: $white;
				border: 1px solid $white;
				padding-left: 19px;
				padding-right: 19px;
				width: 100%;
				max-width: 400px;
				height: (44rem / $root-em);

				&::placeholder
				{
					color: $white;
				}
			}

			.search-btn
			{
				position: absolute;
			    color: #fff;
			    border: none;
			    background: transparent;
			    right: 17px;
			    top: 6px;
			    font-size: (20rem / $root-em);

			    // input:focus + &
			    // {
			    // 	color: theme-color("primary");
			    // }
			}
		}
	}

	nav.navbar--primary 
	{
		.uk-navbar-nav > li 
		{
			&:first-child > a
			{
				padding-left: 0;
			}

			> a
			{
				font-size: (19rem / $root-em);
				line-height: (21rem / $root-em);
				padding: 0 30px;
			
				&:before {
				    content: "\f078";
				    position: absolute;
				    right: 15px;
				    font-family: "Font Awesome 5 Free";
				    font-weight: 600;
				    font-size: 11px;
				    bottom: 29px;
				}
			}
		}
	}
	
	.uk-navbar-dropdown
	{
		background-color: $black;

		li:not(:last-child)
		{
			padding-bottom: 0.5rem;
		}
	}
}