<div id="{{ id }}" {{ overlay ? 'uk-offcanvas="overlay: true"' : 'uk-offcanvas' }}>
    <div class="uk-offcanvas-bar">
        {% if close %} 
        	<button class="uk-offcanvas-close" type="button" uk-close></button>
        {% endif %}
        {{ body }}
    </div>
</div>