@import "./src/styles/sthm/variables";

.uk-light
{
	.uk-slideshow-items 
	{
		color: map-get($theme-colors, "white");

		li
		{
			padding: 45px 60px;//90px;
			//TODO: responsive widths
			
			justify-content: space-between;

			.slideshow__slide
			{
				justify-content: space-between;
			    /* flex-grow: 1; */
			    display: flex;
			    flex-direction: column;
			    height: 100%;
			}
		}

		h1 {
			//padding-bottom: 48px;	
		}

		h2 {
			//padding-bottom: 36px;
		}

		.wp-block-buttons
		{
			//margin-top: 48px;
			//margin-bottom: 48px;
			display: flex;
			justify-content: center;

			.wp-block-button
			{
				margin-left: 30px;
				margin-right: 30px;

				&__link
				{
				    min-width: 240px;
				    //TODO: responsive widths
				}

				.has-background
				{
					box-shadow: 0px 4px 5px map-get($theme-colors, "overlaylight");
				}

			}
		}
	}
}